[tools]
deno = "1.41.1"

[tasks.build]
sources = ["main.ts"]
outputs = ["dist/git-moji"]
run = "deno compile -A --output dist/git-moji main.ts"

[tasks.install]
depends = ":build"
usage = '''
flag "--prefix <path>" default="{{env.HOME}}/.local/libexec"
'''
run = "cp dist/git-moji ${usage_prefix}/git-moji"
