$if Bash
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on
set match-hidden-files on
set colored-stats on
set colored-completion-prefix on
set visible-stats on
$endif
