urxvt*termName: xterm-256color
urxvt*imLocale: ja_JP.UTF-8

urxvt*geometry: 80x50
urxvt*scrollBar: false

urxvt*font: \
    xft:Ricty for Powerline:size=10:antialias=true:hinting=true,           \
    xft:DejaVu Sans Mono:size=12:antialias=true:hinting=true,              \
    xft:Ubuntu Mono derivative Powerline Plus Nerd File Types Mono:size=12

!urxvt*depth: 32

urxvt*intensityStyles: false

urxvt*background: [90]#002b36
urxvt*foreground: #839496
urxvt*color0: #073642
urxvt*color1: #dc322f
urxvt*color2: #859900
urxvt*color3: #b58900
urxvt*color4: #268bd2
urxvt*color5: #d33682
urxvt*color6: #2aa198
urxvt*color7: #eee8d5
urxvt*color8: #002b36
urxvt*color9: #cb4b16
urxvt*color10: #586e75
urxvt*color11: #657b83
urxvt*color12: #839496
urxvt*color13: #6c71c4
urxvt*color14: #93a1a1
urxvt*color15: #fdf6e3
