urxvt*termName: xterm-256color
urxvt*imLocale: ja_JP.UTF-8

urxvt*geometry: 80x50
urxvt*scrollBar: false

urxvt*font: \
    xft:Ricty for Powerline:size=12:antialias=true:hinting=true,           \
    xft:DejaVu Sans Mono:size=12:antialias=true:hinting=true,              \
    xft:Ubuntu Mono derivative Powerline Plus Nerd File Types Mono:size=12

urxvt*background: #282828
urxvt*foreground: #ebdbb2
urxvt*color0:     #282828
urxvt*color1:     #cc241d
urxvt*color2:     #98971a
urxvt*color3:     #d79921
urxvt*color4:     #458588
urxvt*color5:     #b16286
urxvt*color6:     #689d6a
urxvt*color7:     #a89984
urxvt*color8:     #928374
urxvt*color9:     #fb4934
urxvt*color10:    #b8bb26
urxvt*color11:    #fabd2f
urxvt*color12:    #83a598
urxvt*color13:    #d3869b
urxvt*color14:    #8ec07c
urxvt*color15:    #ebdbb2
