urxvt*termName: xterm-256color
urxvt*imLocale: ja_JP.UTF-8

urxvt*geometry: 80x50
urxvt*scrollBar: false

urxvt*font: \
    xft:Ricty Nerd:size=10:antialias=true:hinting=true, \
    xft:DejaVu Sans Mono,                                        \
    xft:Ubuntu Mono Plus Nerd File Types Mono,                   \
    xft:DejaVu Sans
urxvt*lineSpace: 4
! xft:PixelMplus10:size=10, \

!urxvt*depth: 32

urxvt*intensityStyles: false

urxvt*background: #1D1F21
urxvt*foreground: #C5C8C6
urxvt*color0: #282A2E
urxvt*color1: #A54242
urxvt*color2: #8C9440
urxvt*color3: #DE935F
urxvt*color4: #5F819D
urxvt*color5: #85678F
urxvt*color6: #5E8D87
urxvt*color7: #707880
urxvt*color8: #373B41
urxvt*color9: #CC6666
urxvt*color10: #B5BD68
urxvt*color11: #F0C674
urxvt*color12: #81A2BE
urxvt*color13: #B294BB
urxvt*color14: #8ABEB7
urxvt*color15: #C5C8C6

urxvt.iso14755: false
urxvt.iso14755_52: false

urxvt.perl-ext-common: font-size
urxvt.keysym.C-Up:     perl:font-size:incglobal
urxvt.keysym.C-Down:   perl:font-size:decglobal
! urxvt.keysym.C-S-Up:   perl:font-size:incglobal
! urxvt.keysym.C-S-Down: perl:font-size:decglobal

