services:
  sandbox:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - TERM
      - COLORTERM
      - MISE_GITHUB_TOKEN
    volumes:
      - .:/home/nonroot/.dotfiles
    tty: true
