# vim: set ft=toml:

[settings]
experimental = true
task_show_full_cmd = true
env_cache = true
env_cache_ttl = "1h"

[settings.github]
credential_command = "gh auth token"

[tools]
usage = "latest"
node = "22.17.0"
# https://github.com/mise-plugins/vfox-neovim/issues/1
"aqua:neovim" = "0.11.6"
claude = "{{ .versions.claude }}"
eza = "v0.23.4"
python = "3.10.19"
tmux = "3.6a"
fd = "10.4.2"
fastfetch = "2.62.1"
atuin = "{{ .versions.atuin }}"
"github:844196/wk" = { version = "{{ .versions.wk }}", bin = "wk" }
"github:844196/chroma" = "{{ .versions.chroma }}"
"github:microsoft/apm" = "{{ .versions.apm }}"
"aqua:cli/cli" = "{{ .versions.gh }}"
"aqua:sharkdp/bat" = "{{ .versions.bat }}"
"aqua:dandavison/delta" = "0.15.1"
"aqua:junegunn/fzf" = "v0.62.0"
"aqua:ajeetdsouza/zoxide" = "{{ .versions.zoxide }}"
"aqua:denisidoro/navi" = "v2.22.1"
"aqua:BurntSushi/ripgrep" = "15.1.0"
"aqua:sharkdp/vivid" = "{{ .versions.vivid }}"
"aqua:mrowa44/emojify" = "2.2.0"
"aqua:x-motemen/ghq" = "v1.4.2"
"aqua:jqlang/jq" = "jq-1.7.1"
"aqua:mikefarah/yq" = "v4.34.1"
"aqua:itchyny/gojo" = "v0.3.2"
"aqua:tstack/lnav" = "v0.12.0"
"aqua:sharkdp/hyperfine" = "v1.17.0"
"aqua:hadolint/hadolint" = "v2.12.0"
"aqua:wagoodman/dive" = "v0.12.0"
"aqua:gesquive/git-user" = "v2.0.6"
"aqua:simonwhitaker/gibo" = "v3.0.12"
"aqua:wfxr/csview" = "v1.2.2"

[env]
_.path = [
  "~/.opt/dotfiles/bin",
  "~/.opt/dotfiles/opt/git-add-A/bin",
]
