[tools]
deno = "1.41.1"

[tasks.build]
sources = ["main.ts"]
outputs = ["dist/git-branch-pretty"]
run = "deno compile -A --output dist/git-branch-pretty main.ts"

[tasks.install]
depends = ":build"
usage = '''
flag "--prefix <path>" default="{{env.HOME}}/.local/libexec"
'''
run = "cp dist/git-branch-pretty ${usage_prefix}/git-branch-pretty"
