#!/bin/bash

set -e

VERSION="v{{ .versions.ghq }}"
BASENAME="ghq_{{ .chezmoi.os }}_{{ .chezmoi.arch }}"
FILENAME="${BASENAME}.zip"
URL="https://github.com/x-motemen/ghq/releases/download/${VERSION}/${FILENAME}"
BIN_PATH="${BASENAME}/ghq"
COMP_PATH="${BASENAME}/misc/zsh/_ghq"

{{ template "install-tool.sh.tmpl" . }}
