#!/bin/bash

VERSION={{ .versions.arc }}

ARCH={{ .chezmoi.arch }}

{{ if eq .chezmoi.os "darwin" }}
OS=mac
{{ else }}
OS=linux
{{ end }}

mkdir -p ~/.local/bin
curl -fsSL -o ~/.local/bin/arc "https://github.com/mholt/archiver/releases/download/v${VERSION}/arc_${VERSION}_${OS}_${ARCH}"
chmod +x ~/.local/bin/arc
