#!/bin/bash

set -e

VERSION="{{ .versions.delta }}"
BASENAME="delta-${VERSION}-x86_64-{{ .vendor }}-{{ .chezmoi.os }}{{ .musl.append }}"
FILENAME="${BASENAME}.tar.gz"
URL="https://github.com/dandavison/delta/releases/download/${VERSION}/${FILENAME}"
BIN_PATH="${BASENAME}/delta"

{{ template "install-tool.sh.tmpl" . }}

curl -fsSL -o _delta "https://raw.githubusercontent.com/dandavison/delta/${VERSION}/etc/completion/completion.zsh"
cp -f _delta ~/.local/share/zsh/vendor-completions
