#!/bin/bash

set -e

AQUA_VERSION=v2.23.0
AQUA_ROOT_DIR=$HOME/.local/share/aquaproj-aqua

URL=https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.3.0/aqua-installer
if [ "$(command -v curl)" ]; then
  bash -c "$(curl -fsSL $URL)" -- -v $AQUA_VERSION
elif [ "$(command -v wget)" ]; then
  bash -c "$(wget -qO- $URL)" -- -v $AQUA_VERSION
else
  echo "You must have curl or wget installed." >&2
  exit 1
fi

AQUA_POLICY_CONFIG={{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua/policy.yaml
exec ${AQUA_ROOT_DIR}/bin/aqua -c {{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua/aqua.yaml i
