#!/bin/bash

set -euo pipefail

export AQUA_ROOT_DIR=~/.local/share/aquaproj-aqua-global
export AQUA_CONFIG={{ .chezmoi.sourceDir }}/dot_config/exact_aquaproj-aqua/aqua.yaml
export AQUA_POLICY_CONFIG={{ .chezmoi.sourceDir }}/dot_config/exact_aquaproj-aqua/policy.yaml

aqua i

AQUA_CP_DEST=${AQUA_ROOT_DIR}/bin-copied
mkdir -p ${AQUA_CP_DEST:?}
rm -rf ${AQUA_CP_DEST:?}/*
aqua cp -a -o $AQUA_CP_DEST
