#!/bin/bash

set -e

VERSION="v{{ .versions.zoxide }}"
BASENAME="zoxide-${VERSION}-x86_64-{{ .vendor }}-{{ .chezmoi.os }}{{ .musl.append }}"
FILENAME="${BASENAME}.tar.gz"
URL="https://github.com/ajeetdsouza/zoxide/releases/download/${VERSION}/${FILENAME}"
BIN_PATH="zoxide"
COMP_PATH="completions/_zoxide"

{{ template "install-tool.sh.tmpl" . }}
