#!/bin/bash

set -e

VERSION="v{{ .versions.bat }}"
BASENAME="bat-${VERSION}-x86_64-{{ .vendor }}-{{ .chezmoi.os }}{{ .musl.append }}"
FILENAME="${BASENAME}.tar.gz"
URL="https://github.com/sharkdp/bat/releases/download/${VERSION}/${FILENAME}"
BIN_PATH="${BASENAME}/bat"
COMP_PATH="${BASENAME}/autocomplete/bat.zsh"
COMP_DST_NAME="_bat"

{{ template "install-tool.sh.tmpl" . }}
