#!/bin/bash

set -e

aqua="$HOME/.local/share/aquaproj-aqua/bin/aqua"
if [[ -x "${aqua}" ]]; then
  :
else
  URL=https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.2.0/aqua-installer
  if [ "$(command -v curl)" ]; then
    bash -c "$(curl -fsSL $URL)" -- -v 'v2.21.0'
  elif [ "$(command -v wget)" ]; then
    bash -c "$(wget -qO- $URL)" -- -v 'v2.21.0'
  else
    echo "You must have curl or wget installed." >&2
    exit 1
  fi
fi

export AQUA_POLICY_CONFIG={{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua/policy.yaml
exec "$aqua" -c {{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua/aqua.yaml i
