#!/usr/bin/env bash

set -euo pipefail

# config.toml hash: {{ includeTemplate "dot_config/exact_mise/config.toml.tmpl" . | sha256sum }}
echo "Token: $(~/.local/bin/mise token github)"
~/.local/bin/mise install
~/.local/bin/mise upgrade
