#!/bin/bash

set -e

VERSION="v{{ .versions.exa }}"
OS="{{ if eq .chezmoi.os "darwin" }}macos{{ else }}linux{{ end }}"
BASENAME="exa-${OS}-x86_64-{{ .musl.prepend }}${VERSION}"
FILENAME="${BASENAME}.zip"
URL="https://github.com/ogham/exa/releases/download/${VERSION}/${FILENAME}"
BIN_PATH="bin/exa"
COMP_PATH="completions/exa.zsh"
COMP_DST_NAME="_exa"

{{ template "install-tool.sh.tmpl" . }}
