#!/bin/bash

set -euo pipefail

mise=~/.local/bin/mise
$mise install deno@{{ .denoVersion }}

deno="$($mise which deno --tool=deno@{{ .denoVersion }})"

files=(
  {{ .chezmoi.sourceDir }}/dot_local/exact_libexec/git-branch-pretty.ts  ~/.local/libexec/git-branch-pretty
  {{ .chezmoi.sourceDir }}/dot_local/exact_libexec/git-status-pretty.ts  ~/.local/libexec/git-status-pretty
  {{ .chezmoi.sourceDir }}/dot_local/exact_libexec/git-moji.ts           ~/.local/libexec/git-moji
  {{ .chezmoi.sourceDir }}/dot_local/exact_libexec/git-add-A.ts          ~/.local/libexec/git-add-A
  {{ .chezmoi.sourceDir }}/dot_local/exact_libexec/fzf-preview-helper.ts ~/.local/libexec/fzf-preview-helper
)

for ((i = 0; i < ${#files[@]}; i += 2)); do
  src="${files[i]}"
  dest="${files[i + 1]}"

  rm -f "$dest"

  "$deno" compile -A --target x86_64-unknown-linux-gnu --output "$dest" "$src"
done
