#!/bin/bash

set -e

VERSION="{{ .versions.fzf }}"
BASENAME="fzf-${VERSION}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}"
FILENAME="${BASENAME}.{{ if eq .chezmoi.os "linux" }}tar.gz{{ else }}zip{{ end }}"
URL="https://github.com/junegunn/fzf/releases/download/${VERSION}/${FILENAME}"
BIN_PATH="fzf"

{{ template "install-tool.sh.tmpl" . }}

curl -fsSL -o _fzf "https://raw.githubusercontent.com/junegunn/fzf/${VERSION}/shell/completion.zsh"
cp -f _fzf ~/.local/share/zsh/vendor-completions
