#!/usr/bin/env bash

# trigger: chroma version = {{ .versions.chroma }}
# trigger: chromad.service sha256 = {{ include "dot_config/systemd/user/chromad.service" | sha256sum }}

set -euo pipefail

if ! which systemctl &>/dev/null; then
  exit
fi

if systemctl --user is-active chromad.service &>/dev/null; then
  systemctl --user stop chromad.service
fi

if systemctl --user is-enabled chromad.service &>/dev/null; then
  systemctl --user disable chromad.service
fi
