#!/bin/bash

set -e

VERSION="{{ .versions.ouch }}"
{{ if eq .chezmoi.os "darwin" }}
FILENAME="ouch-x86_64-apple-darwin"
{{ else }}
FILENAME="ouch-x86_64-linux-musl"
{{ end }}
URL="https://github.com/ouch-org/ouch/releases/download/${VERSION}/${FILENAME}"

cd "$(mktemp -d)"
curl -fsSL -o ouch $URL
chmod +x ouch
mkdir -p ~/.local/bin
cp -f ouch ~/.local/bin
