[tools]
deno = "1.41.1"

[tasks.build]
sources = ["main.ts"]
outputs = ["dist/fzf-preview-helper"]
run = "deno compile -A --output dist/fzf-preview-helper main.ts"

[tasks.install]
depends = ":build"
usage = '''
flag "--prefix <path>" default="{{env.HOME}}/.local/libexec"
'''
run = "cp dist/fzf-preview-helper ${usage_prefix}/fzf-preview-helper"
