encryption: age
age:
  identity: ~/.config/age/key.txt
  recipient: age14clf4cdnhwj9mt5u3j42t873zae0jp96hsvy909v3jaunue80p8qxxyyy8

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  dotfilesDir: {{ quote (clean (join "" (list .chezmoi.sourceDir "/.."))) }}

textconv:
  - pattern: "**/.claude/settings.json"
    command: "jq"
    args:
      - "-S"
      - "."
  - pattern: "**/.config/ccstatusline/settings.json"
    command: "jq"
    args:
      - "-S"
      - "."
