#!/bin/bash

VERSION=v0.10.1

{{ if eq .chezmoi.arch "amd64" }}
ARCH=x86_64
{{ else }}
ARCH=armv7
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
OS=macos
MUSL=
{{ else }}
OS=linux
MUSL=musl-
{{ end }}

BASENAME="exa-${OS}-${ARCH}-${MUSL}${VERSION}"

cd `mktemp -d`
curl -fsSL -O "https://github.com/ogham/exa/releases/download/${VERSION}/${BASENAME}.zip"
~/.local/bin/arc unarchive "${BASENAME}.zip"
find . -type f -name exa | xargs -I{} cp {} ~/.local/bin/exa
